
@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	height: 180px;
}
/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 125px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}

#maxRegisterBackground{
    margin-left: 250px;
    background-color: rgb(83, 173, 143);
    border: 2px solid grey;
    border-radius: 8px;
    width: 70%;
    height: 550px;
    padding-top: 100px;
    
}
#maxLoginBackground{
    margin-left: 250px;
    background-color: rgb(83, 173, 143);
    border: 2px solid grey;
    border-radius: 8px;
    width: 70%;
    height: 250px;
    padding-top: 100px;
    
}
#maxAlignment{
    text-align: center;
}

#maxCentered{
    margin-left: 20pc;
    margin-right: 20pc;
}
#maxRegisterLeft{
    float: left;
}
#maxRegisterRight{
    float: right;
}
#headerMenu{
	float: left;
	margin-left: 10%;
	align-items: center;
	
}
#menuCategorieGames{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px 30px; 
	width: 300px;
	text-align: center;
	position:relative;
	display :inline-block;
}
#menuCategorieGames button{
	width: 200px;
}
.headerDropdownList {
    display: none;
	margin-top: 5px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.headerDropdownList div {
  	float:left;
	text-align: center;
	min-width: 100%;
	
}
.headerDropdownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	min-width: 100px;
}
.headerDropdownList a:hover {
	background-color: #ddd;
}
.headerDropdownButton {
    background-color: #818FA6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.headerDropdownButton:hover, .headerDropdownButton:focus {
    background-color: #40587F;
}
#menuCategorieAboutUs{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px 30px;
	width: 300px;
	text-align: center;
}
#menuCategorieAboutUs button{
	width: 200px;
}
.show {
	display:block;
}
/* div for Links in header */
#headerLinks {
	float: right;
	width: 250px;
	height: 100px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 30px;
	background-color: rgba(255,255,255,1.00);
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}
/* Main content of the site */
#content {
	padding-top: 10px;
}
/* Sidebar */
#content .adbar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 10%;
	height: 500px;
	background-color: rgba(246,246,246,1.00);
}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 75%;
	text-align: center;
}
/* Whole page content */
body {
	margin:0;
}
#mainWrapper {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
/* Product rows for catalog */
#content .mainContent .productRow {
	color: rgba(146,146,146,1.00);
}
/* Each product Information in the catalog */
.mainContent .productRow .productOutlook {
	float: left;
	width: 25%;
	padding-left: 5%;
	padding-right: 5%;
}
/* Picture holder for products rating*/
.productRow .productOutlook .productRating {
	position: relative;
	padding-top: 10%;
}
/* Prices of a products in catalog */
.productRow .productOutlook .housePrice {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
}
/* Buy button for products in catalog */
.productRow .productOutlook .buyButton {
	position: relative;
	width: 100%;
	background-color: rgba(208,207,207,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 20px;
	text-transform: uppercase;
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	width: 65%;
}
.productRow .productInfo .houseTechnicalData {
	min-height: 75px;
	text-align: center;
	padding-left: 10px;
}
.productRow .productInfo .houseTechnicalData p {
	margin: 25px 10px;
	float: left;
	font-size: 15px;
}
.productRow .productInfo .houseUserDescription {
	min-height: 200px;
}
.productRow .productInfo .houseUserDescription p {
	margin: 25px 10px;
}
.productRow .productInfo .houseUserDescription .houseDescriptionText {
	text-align: left;
	padding-left: 10px;
}
.productRow .productInfo .houseGameLogo {

}
/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-right: 22px;
	padding-left: 22px;
	text-align: center;
}
/*Each footer content */
#mainWrapper footer div {
	width: 20%;
	float: left;
	color: rgba(255,255,255,1.00);
	text-align: justify;
	padding-left: 2%;
}
/* Links in footer */
footer div a {
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	text-align: left;
}
.footerHeader{
	color: rgba(146,146,146,1.00);;
}
/* Container for links in footer */
footer .footerConnect {
	
}
footer .footerContact {
	
}

