@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../pictures/background_blueprint.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 0.15em;
	color: black;
	text-align: center;
}

#mainPageProfile{
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	background: rgba(255,255,255,0.5);
}

.logo{
	width: 100px;
	height: auto;
	display: block;
	margin: auto;
}

h1{
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
}

#Stats{
	display: block;
}

.profilePicture{
	width: 100px;
	height: auto;
	margin: auto;
}

ul{
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	
}

li{
	display: inline;
	margin: 0px 3px;
	color: black;
}

a{
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
}

a:hover{
	color: darkblue;
}