@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	height: 180px;
	margin-left: -6%;
	margin-right: -5.55%;
	background-color: white;
}
/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 125px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}
#headerMenu{
	float: left;
	margin-left: 10%;
	align-items: center;
	
}
#menuCategorieGames{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px 30px; 
	width: 300px;
	text-align: center;
	position:relative;
	display :inline-block;
}
#menuCategorieGames button{
	width: 200px;
}
.headerDropdownList {
    display: none;
	margin-top: 5px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.headerDropdownList div {
  	float:left;
	text-align: center;
	min-width: 100%;
	
}
.headerDropdownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	min-width: 100px;
}
.headerDropdownList a:hover {
	background-color: #ddd;
}
.headerDropdownButton {
    background-color: #818FA6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.headerDropdownButton:hover, .headerDropdownButton:focus {
    background-color: #40587F;
}
#menuCategorieAboutUs{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px 30px;
	width: 300px;
	text-align: center;
}
#menuCategorieAboutUs button{
	width: 200px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* div for Links in header */
#headerLinks {
	float: right;
	width: 250px;
	height: 100px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 30px;
	background-color: rgba(255,255,255,1.00);
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}

/* main content of the site */
#content .mainContent {
	float: left;
	width: 60%;
	text-align: center;
	padding-left: 4%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Whole page content */
body {
	background-color: #c4c3a0;
	margin:0;
}
#mainWrapper {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#groupInfo
{
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 33%;
	height: 556px;
	font-size: 2.5vh;
	text-align: center;
	background-color: rgb(143, 81, 127);
}

#blueprints
{
	margin-top: 1%;
	float: right;
	margin-bottom: 1%;
    width: 66%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-right: 22px;
	padding-left: 22px;
	text-align: center;
}
/*Each footer content */
#mainWrapper footer div {
	width: 20%;
	float: left;
	color: rgba(255,255,255,1.00);
	text-align: justify;
	padding-left: 2%;
}
/* Links in footer */
footer div a {
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	text-align: left;
}
.footerHeader{
	color: rgba(146,146,146,1.00);;
}
/* Container for links in footer */
footer .footerConnect {
	
}
footer .footerContact {
	
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
